<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uthinkuknowme.com.travelagencyapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyTheme1">
        <activity android:name=".WellcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
                android:screenOrientation="portrait"
            />
        <activity android:name=".OffersActivity"

            />

        <provider
            android:name=".Utils.OffersProvider"
            android:authorities="com.uthinkuknowme.com.travelagencyapp.offersprovider"></provider>

        <activity android:name=".DetailsActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDSh4vfDCJIRQWOo9w5ZXhLTHaPjahASdw"></meta-data>

        <activity android:name=".ReservationActivity"></activity>
    </application>

</manifest>